.component-cropsy {

  .crop-stage {  
    position: relative;
    cursor: crosshair;

    // Overlay selection
    .selection {
      background-color: rgba(#fff, .2);
      position: absolute;

      &.ghost {
        @extend %eased;
        left: 0;
        height: 50%;
        top: 0;
        width: 50%;

        &:hover {
          border: 1px solid rgba(#fff, .2);
          box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
          cursor: move;
        }
      }
    }
  }

  .image-original {
    @extend %gridded;

    .original {
      @extend %inset;
      background-color: #efefef;
      width: 100%;
    }

    // Tinted selection
    &.luminated {
      position: relative;

      .original {
        img {
          opacity: .2;
        }
      }

      .masked {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .result-panel {
    @extend %rhythm;

    .result {
      @extend %rhythm;
    }
  }

  .toolbar {
    @extend %module;
    padding: 1em;

    [class^="tool-"], [class*=" tool-"] {
      float: left;
      margin-right: 1em;

      &:last-child {
        float: right;
        margin-right: 0;
      }

      button {
        margin-bottom: 0;
      }  
    }

    .tool-zoom button {
      border-color: #0078a0;
    }
  }
}

.notifications {
  a {
    color: #fff;
  }
}

.icon-bar {
  @extend %raised;
  border-color: #000;
  border-style: solid;
  border-radius: 4px;

  > *:hover {
    background: #000;
    @extend %eased;
  }

  label {
    display: none;
    @media #{$medium-up} {
      display: block;
    }  
  }
}

.staged {
  @extend %gridded;
  padding: 72% 0 0 0;
}

.masked img {
  @extend %masked;
}

.viewer {
  @extend %gridded;
}

.pattern {
  @extend %rhythm;
}

.crop-stage {
  @extend %gridded;

  .img-container {
    max-height: 500px;
    overflow: hidden;
  }
}

.result-panel {
  position: relative;
  @include clearfix;

  .result-preview {
    @extend %inset;
    @extend %rhythm;
    height: 0;
    overflow: hidden;
    padding: 72% 0 0 0;
    position: relative;
    width: 100%;
    
    .img-preview {
      height: 100%;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 100%;

      img {
        max-width: none;
      }
    }
  }
}
