.component-cropsy {

  .crop-stage {  
    position: relative;
    overflow: hidden;
  }

  .image-original {
    @extend %gridded;

    .original {
      @extend %inset;
      background-color: #efefef;
      width: 100%;
    }
  }

  .result-panel {
    @extend %rhythm;

    .result {
      @extend %rhythm;
    }
  }

  .toolbar {
    @extend %module;
    padding: 1em;

    [class^="tool-"], [class*=" tool-"] {
      float: left;
      margin-right: 1em;

      &:last-child {
        float: right;
        margin-right: 0;
      }

      button {
        margin-bottom: 0;
      }  
    }

    .tool-zoom button {
      border-color: #0078a0;
    }
  }
}

.top-bar {
  z-index: 100;
  position: relative;
}

.notifications {
  a {
    color: #fff;
  }
}

.icon-bar {
  @extend %raised;
  border-color: #000;
  border-style: solid;
  border-radius: 4px;
  z-index: 100;
  position: relative;

  > *:hover {
    background: #000;
    @extend %eased;
  }

  label {
    display: none;
    @media #{$medium-up} {
      display: block;
    }  
  }
}

.staged {
  @extend %gridded;
  padding: 72% 0 0 0;
}

.masked img {
  @extend %masked;
}

.viewer {
  @extend %gridded;
}

.pattern {
  @extend %rhythm;
}

.crop-stage {
  @extend %gridded;

  .img-container {
    overflow: hidden;

    @media #{$large-up} {
      max-height: 500px;
    }
  }

  .cropper-container > img {
    filter: blur(3px);
  }

  .cropper-viewer {
    outline-color: #fff;
  }

  .cropper-point {
    display: none;

    &.point-se {
      display: block;
      height: 1em;
      width: 1em;
    }
  }

  .cropper-line {
    background-color: #000;
    height: 7px;
  }

  .cropper-dashed {
    border-style: solid;
  }
}

.result-panel {
  position: relative;
  @include clearfix;

  .result-preview {
    @extend %inset;
    @extend %rhythm;
    height: 0;
    overflow: hidden;
    padding: 55% 0 0 0;
    position: relative;
    width: 100%;

    &.threextwo {
      padding: 55% 0 0 0;
    }

    &.threextwo {
      padding: 75% 0 0 0;
    }

    &.square {
      padding: 100% 0 0 0;
    }

    .img-preview {
      height: 100%;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 100%;

      img {
        max-width: none;
      }
    }
  }
}

.prototype {
  height: 100%;

  .crop-stage {
    margin-bottom: 1em;
  }

  .panel.callout {
    display: none;
  }

  .result-panel {
    display: none;
  }
}
