<footer class="footer">
  <div class="toolbar">
    <div class="tool-crop center">
      <button class="success radius" {{action 'edit' this }}>
      <i class="icon-crop"></i> <span class="name">Crop</span> </button>
    </div>
  <div>
</footer>
