@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-esmz6l');
	src:url('../fonts/icomoon.eot?#iefix-esmz6l') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-esmz6l') format('woff'),
		url('../fonts/icomoon.ttf?-esmz6l') format('truetype'),
		url('../fonts/icomoon.svg?-esmz6l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ratio:before {
	content: "\e60d";
}
.icon-3-2:before {
	content: "\e614";
}
.icon-16-9:before {
	content: "\e615";
}
.icon-1-1:before {
	content: "\e616";
}
.icon-image:before {
	content: "\e600";
}
.icon-camera:before {
	content: "\e601";
}
.icon-stack:before {
	content: "\e602";
}
.icon-folder-open:before {
	content: "\e603";
}
.icon-spinner:before {
	content: "\e604";
}
.icon-zoomin:before {
	content: "\e605";
}
.icon-zoomout:before {
	content: "\e606";
}
.icon-wrench:before {
	content: "\e607";
}
.icon-cog:before {
	content: "\e608";
}
.icon-cloud-download:before {
	content: "\e609";
}
.icon-cloud-upload:before {
	content: "\e60a";
}
.icon-cancel-circle:before {
	content: "\e60b";
}
.icon-checkmark-circle:before {
	content: "\e60c";
}
.icon-close:before {
	content: "\e613";
}
.icon-checkmark:before {
	content: "\e60e";
}
.icon-minus:before {
	content: "\e60f";
}
.icon-plus:before {
	content: "\e610";
}
.icon-checkbox-partial:before {
	content: "\e611";
}
.icon-crop:before {
	content: "\e612";
}
