%rhythm {
  margin-bottom: 1em;
}

%dark {
  background-color: #333;
}

%inset {
  box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.25);
}

%gridded {
  background: url(/images/grid.png);
  box-shadow: inset 0px 3px 3px 0px rgba(50, 50, 50, 0.25);
}

%raised {
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

%eased {
  transition: background-color 300ms ease-out;
}

%module {
  background: #efefef;
  border-radius: 4px;
  border: 1px solid rgba(#ccc, .5);
}

%icon-button {
  i {
    @media #{$medium-up} {
      margin-left: -.75em;
      margin-right: .5em;
    }  
  }

  .name {
    display: none;
    font-size: 100%;

    @media #{$medium-up} {
      display: inline-block;
    }  
  }
}  

%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}  

button {
  @extend %raised;
  @extend %icon-button;
}  

