<section>
    <div class="container" id="main">
        <div class="row">
            <header><h1>Cropsy</h1></header>
                {{outlet}}
            <footer>
                <button>Crop</button>
            </footer>
        </div>
    </div>
</section>
