<section class="row">

  <section class="crop-stage">
    <div class="crop-container">
      <div class="image-container">
        <img {{bind-attr src="model.url"}}>
      </div>
    </div>
  </section>

  <aside id="preview" class="result-panel invisible">
    <div id="results-ratio" class="result-preview">
      <div class="image-preview"></div>
    </div>
    <div class="panel callout">
      <fieldset class="result-sizes">
        <label class="dimension">Height
          {{input name="data-height" type="text" placeholder="px"}}
        </label>

        <label class="dimension">Width
          {{input name="data-width" value="" type="text" placeholder="px"}}
        </label>
      </fieldset>
    </div>
  </aside>

  {{outlet}}

</section>

