<section class="row">

  <section class="crop-stage">
    <div class="crop-container">
      <div class="image-container">
        <img {{bind-attr src="model.url"}}>
      </div>
    </div>
  </section>

  {{outlet}}

</section>
