<section class="crop-stage">

  <div class="image-original zoomer_wrapper viewer" style="height:500px">
    {{#if model.url}}
    <figure class="original">
      <img {{bind-attr src="model.url"}}>
    </figure>
    {{else}}
    <figure>
      <p>We're having trouble finding your image.</p>
    </figure>
    {{/if}}

  </div>

  <button class="radius" {{action 'edit' this}}>Edit</button>
  {{outlet}}

</section>

