<section class="index-panel">
  <ul class="sub-nav">
  {{#each image in model}}
  <li>{{#link-to 'image' image}}{{image.title}}{{/link-to}}</li>
  {{/each}}
  </ul>
  <button {{action 'addImage' this }}>Add Image</button>
</section>
