<header>
    <div data-alert class="alert-box">
        Get started with cropsy
    <a href="#" class="close">&times;</a>
    </div>
</header>

<div class="image-canvas">
   <figure>
        <img src="http://fillmurray.com/1280/720">
   </figure>
</div>

<footer class="toolbar">
    <button>Aspect Ratio</button>

    <button>Zoom In</button>
    <button>Zoom Out</button>

    <button>Crop</button>
</footer>
