<div class="component-cropsy layout">

  <header class="notifications">
    <div data-alert class="alert-box">
      Select an image to get started with Cropsy
      <a {{action 'closeNotification' this }} class="close">&times;</a>
    </div>
  </header>

  <section class="row">
    <div class="large-3 columns">
    {{#each image in model}}
      {{#link-to 'image' image}}
      <div class="column"><img {{bind-attr src="image.url"}}></div>
      {{/link-to}}
    {{/each}}
    </div>
  </section>

</div>
