<section class="prototype row">

  <section class="crop-stage">
    <div class="img-container">
      <img src="/images/nasa-bw-1.jpg">
    </div>
  </section>

  <aside class="result-panel">
    <div id="results-ratio" class="result-preview">
      <div class="img-preview"></div>
    </div>
    <div class="panel callout">
      <fieldset class="result-sizes">
        <label class="dimension">Height
          {{input type="text" placeholder="px"}}
        </label>

        <label class="dimension">Width
          {{input type="text" placeholder="px"}}
        </label>
      </fieldset>
    </div>
  </aside>
  
</section>

<section class="tools">
  <div class="icon-bar three-up">
    <a class="item">
      <i class="icon-wrench"></i>
      <label>Edit</label>
    </a>
    <a class="item" data-dropdown="topDrop" data-options="align: top">
      <i class="icon-checkbox-partial"></i>
      <label>Aspect</label>
    </a>
    <a class="item">
      <i class="icon-crop"></i>
      <label>Crop</label>
    </a>
  </div>
   <ul id="topDrop" class="f-dropdown" data-dropdown-content>
      <li><a id="1-1-ratio"><i class="icon-1-1"></i> Square</a></li>
      <li><a id="3-2-ratio"><i class="icon-3-2"></i> 3 x 2 </a></li>
      <li><a id="16-9-ratio"><i class="icon-16-9"></i> 16 x 9 </a></li>
    </ul>
</section>
