<div class="component-cropsy">
    <header class="notifications">
        <div data-alert class="alert-box">
            Get started with cropsy
            <a href="#" class="close">&times;</a>
        </div>
    </header>

    <div class="large-8 columns">
        <section class="image-canvas">
           <div class="row">
               <figure>
                    <img src="http://fillmurray.com/1280/920">
               </figure>
           </div>
        </section>
    </div>

    <div class="large-4 columns">
        <aside class="result-panel">
            <div class="panel">
                <div class="row">
                    <figure class="large-12 columns rhythm">
                        <img src="http://fillmurray.com/420/420">
                    </figure>
                </div>

                <div class="row">
                    <div class="large-6 columns">
                        <label>Height
                            <input type="text" placeholder="px" />
                        </label>
                    </div>

                    <div class="large-6 columns">
                        <label>Width
                            <input type="text" placeholder="px" />
                        </label>
                    </div>
               </div>
           </div>

           <button>Finish</button>
        </aside>
    </div>

    <div class="large-8 columns">
        <footer class="toolbar">
            <button>Aspect Ratio</button>

            <button>Zoom In</button>
            <button>Zoom Out</button>

            <button>Crop</button>
        </footer>
    </div>
</div>